<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>

<p th:text="${'Id user: ' + user.getId()}">VALUE</p>
<p th:text="${'User: ' + user.getName() + ' ' + user.getSurname()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>

</form>
</body>
</html>